In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
from sklearn.model_selection import learning_curve, GridSearchCV
import warnings
from datetime import date
import re
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
#import nltk
#nltk.download('punkt')
warnings.filterwarnings('ignore')
from sklearn.metrics import mean_squared_error

In [30]:
# train = pd.read_excel("Data/Data_Train.xlsx")
# test = pd.read_excel("Data/Data_Test.xlsx")
train = pd.read_excel('Data_Train.xlsx')
test = pd.read_excel('Data_Test.xlsx')
#date.today().strftime('%d %b %Y')
print(train.shape,test.shape)

(6237, 9) (1560, 8)

In [31]:
train.head()

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
0,The Prisoner's Gold (The Hunters 3),Chris Kuzneski,"Paperback,– 10 Mar 2016",4.0 out of 5 stars,8 customer reviews,THE HUNTERS return in their third brilliant no...,Action & Adventure (Books),Action & Adventure,220.00
1,Guru Dutt: A Tragedy in Three Acts,Arun Khopkar,"Paperback,– 7 Nov 2012",3.9 out of 5 stars,14 customer reviews,A layered portrait of a troubled genius for wh...,Cinema & Broadcast (Books),"Biographies, Diaries & True Accounts",202.93
2,Leviathan (Penguin Classics),Thomas Hobbes,"Paperback,– 25 Feb 1982",4.8 out of 5 stars,6 customer reviews,"""During the time men live without a common Pow...",International Relations,Humour,299.00
3,A Pocket Full of Rye (Miss Marple),Agatha Christie,"Paperback,– 5 Oct 2017",4.1 out of 5 stars,13 customer reviews,A handful of grain is found in the pocket of a...,Contemporary Fiction (Books),"Crime, Thriller & Mystery",180.00
4,LIFE 70 Years of Extraordinary Photography,Editors of Life,"Hardcover,– 10 Oct 2006",5.0 out of 5 stars,1 customer review,"For seven decades, ""Life"" has been thrilling t...",Photography Textbooks,"Arts, Film & Photography",965.62

In [32]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6237 entries, 0 to 6236
Data columns (total 9 columns):
Title           6237 non-null object
Author          6237 non-null object
Edition         6237 non-null object
Reviews         6237 non-null object
Ratings         6237 non-null object
Synopsis        6237 non-null object
Genre           6237 non-null object
BookCategory    6237 non-null object
Price           6237 non-null float64
dtypes: float64(1), object(8)
memory usage: 438.6+ KB

In [33]:
train.describe(include = 'all').head(2)

,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price
count,6237,6237,6237,6237,6237,6237,6237,6237,6237.0
unique,5568,3679,3370,36,342,5549,345,11,NaN

In [34]:
train.columns

Index(['Title', 'Author', 'Edition', 'Reviews', 'Ratings', 'Synopsis', 'Genre',
       'BookCategory', 'Price'],
      dtype='object')

In [35]:
train = train[['Title', 'Author', 'Edition', 'Reviews', 'Ratings','Genre',
               'BookCategory', 'Price']]

test = test[['Title', 'Author', 'Edition', 'Reviews', 'Ratings','Genre',
               'BookCategory']]

In [36]:
train.isnull().sum()

Title           0
Author          0
Edition         0
Reviews         0
Ratings         0
Genre           0
BookCategory    0
Price           0
dtype: int64

In [37]:
def split_edition(data):  
  
  edition  = list(data)
  
  ed_type = [i.split(",– ")[0].strip().upper() for i in edition]
  
  edit_date = [i.split(",– ")[1].strip() for i in edition]
  
  m_y = [i.split()[-2:] for i in edit_date]
  
  
  for i in range(len(m_y)):
    if len(m_y[i]) == 1:
      m_y[i].insert(0,'NA')
      
  # Based on the given dataset below is the list of possible values for Months
  
  months =  ['Apr','Aug','Dec','Feb', 'Jan', 'Jul','Jun','Mar','May','NA','Nov','Oct','Sep']
  
  ed_month = [m_y[i][0].upper() if m_y[i][0] in months else 'NA' for i in range(len(m_y))]
  ed_year = [int(m_y[i][1].strip()) if m_y[i][1].isdigit() else 0 for i in range(len(m_y))]
  
  return ed_type, ed_month, ed_year

In [38]:
#Identifying the maximum number of authors for a single book from the given datasets
authors_1 = list(train['Author'])
authors_2 = list(test['Author'])

authors_1.extend(authors_2)

authorslis = [i.split(",") for i in authors_1]

max = 1
for i in authorslis:
  if len(i) >= max:
    max = len(i)
print("Max. number of authors for a single boook = ",max)

for i in range(len(authorslis)):
  if len(authorslis[i]) == max:
    print(i)    
    
all_authors = [author.strip().upper() for listin in authorslis for author in listin]

Max. number of authors for a single boook =  7
7008

In [39]:
# A method to split the Author column in to 7 new columns
def split_authors(data):
  
  authors = list(data)
  
  A1 = []
  A2 = []
  A3 = []
  A4 = []
  A5 = []
  A6 = []
  A7 = []
  for i in authors:
    
    try :
      A1.append(i.split(',')[0].strip().upper())
    except :
      A1.append('NONE')
      
    try :
      A2.append(i.split(',')[1].strip().upper())
    except :
      A2.append('NONE')
        
    try :
      A3.append(i.split(',')[2].strip().upper())
    except :
      A3.append('NONE')
        
    try :
      A4.append(i.split(',')[3].strip().upper())
    except :
      A4.append('NONE')
        
    try :
      A5.append(i.split(',')[4].strip().upper())
    except :
      A5.append('NONE')
      
    try :
      A6.append(i.split(',')[5].strip().upper())
    except :
      A6.append('NONE')
     
    try :
      A7.append(i.split(',')[6].strip().upper())
    except :
      A7.append('NONE')

      
  return A1,A2,A3,A4,A5,A6,A7
  
all_authors.append('NONE')

In [40]:
#Identifying the maximum number of Genres for a single book from the given datasets

genre_1 = list(train['Genre'])
genre_2 = list(test['Genre'])

genre_1.extend(genre_2)

genre_lis = [i.split(",") for i in genre_1]


max = 1
for i in genre_lis:
  if len(i) >= max:
    max = len(i)
print("Max. number of genres for a single boook = ",max)
      
all_genres = [genre.strip().upper() for listin in genre_lis for genre in listin]

Max. number of genres for a single boook =  2

In [41]:
# A method to split the Genre column in to 2 new columns

def split_genres(data):
  
  genres = list(data)
  
  G1 = []
  G2 = []
  
  for i in genres:
    
    try :
      G1.append(i.split(',')[0].strip().upper())
      
    except :
      G1.append('NONE')
      
    try :
      G2.append(i.split(',')[1].strip().upper())
    except :
      G2.append('NONE')


      
  return G1,G2
  
all_genres.append('NONE')

In [42]:
#Identifying the maximum number of Categories for a single book from the given datasets

cat_1 = list(train['BookCategory'])
cat_2 = list(test['BookCategory'])

cat_1.extend(cat_2)

cat_lis = [i.split(",") for i in cat_1]


max = 1
for i in cat_lis:
  if len(i) >= max:
    max = len(i)
print("Max. number of Categories for a single boook = ",max)

all_categories = [cat.strip().upper() for listin in cat_lis for cat in listin]

Max. number of Categories for a single boook =  2

In [43]:
# A method to split the Category column in to 7 new columns

def split_categories(data):
  
  cat = list(data)
  
  C1 = []
  C2 = []

  for i in cat:
    
    try :
      C1.append(i.split(',')[0].strip().upper())
    except :
      C1.append('NONE')
      
    try :
      C2.append(i.split(',')[1].strip().upper())
    except :
      C2.append('NONE')


      
  return C1,C2
  
all_categories.append('NONE')

In [44]:
# A method to clean and restructure the datasets

import re

def restructure(data):
  
  #Cleaning Title Column
  titles = list(data['Title'])
  titles = [title.strip().upper() for title in titles]
  
  #Cleaning & Restructuring Author Column
  a1,a2,a3,a4,a5,a6,a7 = split_authors(data['Author']) 
  
  #Cleaning & Restructuring Edition Column
  ed_type, ed_month, ed_year = split_edition(data['Edition'])
  
  #Cleaning Ratings Column
  ratings = list(data['Reviews'])
  ratings = [float(re.sub(" out of 5 stars", "", i).strip()) for i in ratings]
  
  #Cleaning Reviews Column
  reviews = list(data['Ratings'])
  plu = ' customer reviews'
  reviews = [re.sub(" customer reviews", "", i) if plu in i else re.sub(" customer review", "", i) for i in reviews  ]
  reviews = [int(re.sub(",", "", i).strip()) for i in reviews ]
  

  #Cleaning & Restructuring Genre Column
  g1, g2 = split_genres(data['Genre'])
  
  #Cleaning & Restructuring BookCategory Column
  c1,c2 = split_categories(data['BookCategory'])

  # Forming the Structured dataset
  structured_data = pd.DataFrame({'Title': titles,
                                  'Author1': a1,
                                  'Author2': a2,
                                  'Author3': a3,
                                  'Author4': a4,
                                  'Author5': a5,
                                  'Author6': a6,
                                  'Author7': a7,
                                  'Edition_Type': ed_type,
                                  'Edition_Month': ed_month,
                                  'Edition_Year': ed_year,
                                  'Ratings': ratings,
                                  'Reviews': reviews,
                                  'Genre1': g1,
                                  'Genre2': g2,
                                  'Category1': c1,
                                  'Category2': c2
                                  
                               })
  
  return structured_data

In [45]:
restructure(train).head(3)

,Title,Author1,Author2,Author3,Author4,Author5,Author6,Author7,Edition_Type,Edition_Month,Edition_Year,Ratings,Reviews,Genre1,Genre2,Category1,Category2
0,THE PRISONER'S GOLD (THE HUNTERS 3),CHRIS KUZNESKI,NONE,NONE,NONE,NONE,NONE,NONE,PAPERBACK,MAR,2016,4.0,8,ACTION & ADVENTURE (BOOKS),NONE,ACTION & ADVENTURE,NONE
1,GURU DUTT: A TRAGEDY IN THREE ACTS,ARUN KHOPKAR,NONE,NONE,NONE,NONE,NONE,NONE,PAPERBACK,NOV,2012,3.9,14,CINEMA & BROADCAST (BOOKS),NONE,BIOGRAPHIES,DIARIES & TRUE ACCOUNTS
2,LEVIATHAN (PENGUIN CLASSICS),THOMAS HOBBES,NONE,NONE,NONE,NONE,NONE,NONE,PAPERBACK,FEB,1982,4.8,6,INTERNATIONAL RELATIONS,NONE,HUMOUR,NONE

In [47]:
X_train = restructure(train)

Y_train = train.iloc[:, -1].values

X_test = restructure(test)

In [48]:

X_train.describe(include = 'all')

,Title,Author1,Author2,Author3,Author4,Author5,Author6,Author7,Edition_Type,Edition_Month,Edition_Year,Ratings,Reviews,Genre1,Genre2,Category1,Category2
count,6237,6237,6237,6237,6237,6237,6237,6237,6237,6237,6237.000000,6237.000000,6237.000000,6237,6237,6237,6237
unique,5564,3633,264,73,21,5,1,1,19,13,NaN,NaN,NaN,345,27,11,6
top,CASINO ROYALE: JAMES BOND 007 (VINTAGE),AGATHA CHRISTIE,NONE,NONE,NONE,NONE,NONE,NONE,PAPERBACK,OCT,NaN,NaN,NaN,ACTION & ADVENTURE (BOOKS),NONE,ACTION & ADVENTURE,NONE
freq,4,69,5929,6159,6214,6233,6237,6237,5193,639,NaN,NaN,NaN,947,5594,818,3297
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.101972,4.293202,35.984287,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.821510,0.662501,149.995031,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.000000,4.000000,2.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000,4.400000,7.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,4.800000,22.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,5.000000,6090.000000,NaN,NaN,NaN,NaN

In [51]:
# A method for Finding Unique items for all columns
def unique_items(list1, list2):
  a = list1
  b = list2
  a.extend(b)
  return list(set(a))

In [52]:
from sklearn.preprocessing import LabelEncoder

le_Title = LabelEncoder()
all_titles = unique_items(list(X_train.Title),list(X_test.Title))
le_Title.fit(all_titles)

le_Edition_Type = LabelEncoder()
all_etypes = unique_items(list(X_train.Edition_Type),list(X_test.Edition_Type))
le_Edition_Type.fit(all_etypes)


le_Edition_Month = LabelEncoder()
all_em = unique_items(list(X_train.Edition_Month),list(X_test.Edition_Month))
le_Edition_Month.fit(all_em)

le_Author = LabelEncoder()
all_Authors = list(set(all_authors))
le_Author.fit(all_Authors)

le_Genre = LabelEncoder()
all_Genres = list(set(all_genres))
le_Genre.fit(all_Genres)

le_Category = LabelEncoder()
all_Categories = list(set(all_categories))
le_Category.fit(all_Categories)

LabelEncoder()

In [53]:
X_train['Title'] = le_Title.transform(X_train['Title'])

X_train['Edition_Type'] = le_Edition_Type.transform(X_train['Edition_Type'])



X_train['Edition_Month'] = le_Edition_Month.transform(X_train['Edition_Month'])

X_train['Author1'] = le_Author.transform(X_train['Author1'])
X_train['Author2'] = le_Author.transform(X_train['Author2'])
X_train['Author3'] = le_Author.transform(X_train['Author3'])
X_train['Author4'] = le_Author.transform(X_train['Author4'])
X_train['Author5'] = le_Author.transform(X_train['Author5'])
X_train['Author6'] = le_Author.transform(X_train['Author6'])
X_train['Author7'] = le_Author.transform(X_train['Author7'])


X_train['Genre1'] = le_Genre.transform(X_train['Genre1'])
X_train['Genre2'] = le_Genre.transform(X_train['Genre2'])


X_train['Category1'] = le_Category.transform(X_train['Category1'])
X_train['Category2'] = le_Category.transform(X_train['Category2'])

In [54]:
X_train.head()

,Title,Author1,Author2,Author3,Author4,Author5,Author6,Author7,Edition_Type,Edition_Month,Edition_Year,Ratings,Reviews,Genre1,Genre2,Category1,Category2
0,5802,797,3073,3073,3073,3073,3073,3073,13,7,2016,4.0,8,0,267,0,12
1,2120,391,3073,3073,3073,3073,3073,3073,13,10,2012,3.9,14,80,267,2,6
2,2984,4353,3073,3073,3073,3073,3073,3073,13,3,1982,4.8,6,211,267,8,12
3,189,78,3073,3073,3073,3073,3073,3073,13,11,2017,4.1,13,98,267,5,16
4,2987,1221,3073,3073,3073,3073,3073,3073,8,11,2006,5.0,1,284,267,1,7

In [55]:
X_test['Title'] = le_Title.transform(X_test['Title'])

X_test['Edition_Type'] = le_Edition_Type.transform(X_test['Edition_Type'])



X_test['Edition_Month'] = le_Edition_Month.transform(X_test['Edition_Month'])

X_test['Author1'] = le_Author.transform(X_test['Author1'])
X_test['Author2'] = le_Author.transform(X_test['Author2'])
X_test['Author3'] = le_Author.transform(X_test['Author3'])
X_test['Author4'] = le_Author.transform(X_test['Author4'])
X_test['Author5'] = le_Author.transform(X_test['Author5'])
X_test['Author6'] = le_Author.transform(X_test['Author6'])
X_test['Author7'] = le_Author.transform(X_test['Author7'])


X_test['Genre1'] = le_Genre.transform(X_test['Genre1'])
X_test['Genre2'] = le_Genre.transform(X_test['Genre2'])


X_test['Category1'] = le_Category.transform(X_test['Category1'])
X_test['Category2'] = le_Category.transform(X_test['Category2'])

In [56]:
# Feature Scaling

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)

X_test = sc.transform(X_test)

#Reshaping ti fit the scaler
Y_train = Y_train.reshape((len(Y_train), 1)) 

Y_train = sc.fit_transform(Y_train)

#Restoring the original shape after scaling
Y_train = Y_train.ravel()

In [57]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(X_train, Y_train, test_size = 0.1, random_state = 123)

In [58]:

print(train_x.shape)
print(train_y.shape)
print(val_x.shape)
print(val_y.shape)

(5613, 17)
(5613,)
(624, 17)
(624,)

In [59]:
from xgboost import XGBRegressor
import numpy as np

xgb=XGBRegressor( objective='reg:squarederror', max_depth=6, learning_rate=0.1, n_estimators=100, booster = 'gbtree', n_jobs = -1,random_state = 1)
xgb.fit(train_x,train_y)

y_pred = sc.inverse_transform(xgb.predict(val_x))
y_true = sc.inverse_transform(val_y)

error = np.square(np.log10(y_pred +1) - np.log10(y_true +1)).mean() ** 0.5
score = 1 - error

print("RMLSE Score = ", score)

RMLSE Score =  0.7163958911417463

In [60]:
# Fitting the complete training set (inclusing val_x and val_y)
xgb.fit(X_train,Y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=-1, nthread=None, objective='reg:squarederror',
             random_state=1, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [61]:
# Predicting for test set
y_pred_xgb = sc.inverse_transform(xgb.predict(X_test))

In [62]:
# Saving the predictions in excel file

solution = pd.DataFrame(y_pred_xgb, columns = ['Price'])
solution.to_excel('Predict_Book_Price_Soln.xlsx', index = False)

In [63]:
solution.head(10)

         Price
0   214.681122
1  1330.917114
2   624.322449
3   844.769043
4   425.502533
5   890.277893
6   956.208252
7   339.453979
8   558.580017
9   467.108673

In [65]:
from bayes_opt import BayesianOptimization
import xgboost as xgb
#from sklearn.metrics import mean_squared_error,mean_squared_log_error

In [66]:
dtrain = xgb.DMatrix(X_train, label= Y_train)

In [67]:
def bo_tune_xgb(max_depth, gamma, n_estimators ,learning_rate):
    params = {'max_depth': int(max_depth),
              'gamma': gamma,      
              'n_estimators': int(n_estimators),
              'learning_rate':learning_rate,
              'subsample': 0.8,
              'eta': 0.1,
              'eval_metric': 'rmse'}
    
    #Cross validating with the specified parameters in 5 folds and 70 iterations
    cv_result = xgb.cv(params, dtrain, num_boost_round=100, nfold=10)    
    
    #Return the negative RMSE
    return -1.0 * cv_result['test-rmse-mean'].iloc[-1]

In [68]:
xgb_bo = BayesianOptimization(bo_tune_xgb, {'max_depth': (1, 300), 
                                             'gamma': (0, 1),
                                             'learning_rate':(0,1),
                                             'n_estimators':(1,1000)
                                            })


xgb_bo.maximize(n_iter=10, init_points=10, acq='ei')

|   iter    |  target   |   gamma   | learni... | max_depth | n_esti... |
-------------------------------------------------------------------------
|  1        | -0.9142   |  0.639    |  0.05621  |  213.3    |  288.7    |
|  2        | -0.9526   |  0.3156   |  0.2679   |  62.85    |  364.7    |
|  3        | -0.9478   |  0.8007   |  0.25     |  299.9    |  165.0    |
|  4        | -1.033    |  0.2881   |  0.6308   |  157.8    |  988.8    |
|  5        | -0.9328   |  0.1779   |  0.1263   |  238.9    |  541.4    |
|  6        | -0.9714   |  0.6908   |  0.3956   |  245.2    |  170.7    |
|  7        | -0.9162   |  0.6545   |  0.07038  |  126.7    |  744.9    |
|  8        | -1.131    |  0.2472   |  0.9876   |  163.6    |  175.4    |
|  9        | -0.9954   |  0.05716  |  0.4762   |  254.4    |  660.1    |
|  10       | -0.9874   |  0.32     |  0.4075   |  233.9    |  550.1    |
|  11       | -1.112    |  0.0      |  0.0      |  300.0    |  444.4    |
|  12       | -1.112    |  0.0      |  0.0      |  300.0    |  837.5    |
|  13       | -1.112    |  0.0      |  0.0      |  1.0      |  876.1    |
|  14       | -1.112    |  1.0      |  0.0      |  300.0    |  1.0      |
|  15       | -1.112    |  1.0      |  0.0      |  1.0      |  1.0      |
|  16       | -1.112    |  0.0      |  0.0      |  174.6    |  423.3    |
|  17       | -1.112    |  0.0      |  0.0      |  300.0    |  551.5    |
|  18       | -1.112    |  0.0      |  0.0      |  1.0      |  269.5    |
|  19       | -1.112    |  0.0      |  0.0      |  1.0      |  502.4    |
|  20       | -1.112    |  0.0      |  0.0      |  205.1    |  772.2    |
=========================================================================

In [69]:
#Extracting the best parameters
params = xgb_bo.max['params']

print(params)

#Conversting the max_depth and n_estimator values from float to int
params['max_depth']= int(round(params['max_depth']))
params['n_estimators']= int(round(params['n_estimators']))

print(params)

{'gamma': 0.6390330288507643, 'learning_rate': 0.05621187512068493, 'max_depth': 213.31687475054977, 'n_estimators': 288.68764832032974}
{'gamma': 0.6390330288507643, 'learning_rate': 0.05621187512068493, 'max_depth': 213, 'n_estimators': 289}

In [70]:
#Initialize an XGB with the tuned parameters and fit the training data
from xgboost import XGBRegressor
reg = XGBRegressor(**params).fit(X_train,Y_train)

y_pred_reg = sc.inverse_transform(reg.predict(X_test))

[22:53:03] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [71]:
solution_bo = pd.DataFrame(y_pred_reg, columns = ['Price'])

solution_bo.head(10)

         Price
0   237.709229
1  1686.145020
2   389.132660
3   959.598450
4   347.959076
5   517.618774
6   695.759460
7   346.432739
8   450.300537
9   395.979858

In [72]:
solution_bo.to_excel('Predict_Book_Prices_BO_Soln.xlsx', index = False)